<ion-view view-title="任务说明" cache-view="true">
    <!--<ion-nav-bar class="bar-energized">-->
        <!--<ion-nav-buttons side="right">-->
            <!--<button class="button button-icon button-clear ion-ios-gear-outline">-->
            <!--</button>-->
        <!--</ion-nav-buttons>-->

        <!--<ion-nav-back-button nav-clear>-->
            <!--&lt;!&ndash;Back&ndash;&gt;-->
        <!--</ion-nav-back-button>-->
    <!--</ion-nav-bar>-->

    <ion-header-bar align-title="center" class="bar-energized">
        <div class="buttons">
            <button class="button button-icon button-clear ion-ios-arrow-back" ng-click="$ionicGoBack()">
            </button>
        </div>
        <h1 class="title">任务说明</h1>
        <div class="buttons">
            <button class="button button-icon button-clear ion-ios-gear-outline" ng-click="">
            </button>
        </div>
    </ion-header-bar>

    <ion-content>
        <h1>任务详情</h1>

    </ion-content>
</ion-view>
